<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Web-->
    <add key="WebAppUrl" value="http://localhost:3001/" />

    <add key="UserName" value="user.admin@test.net" />
    <add key="Password" value="test" />
	<add key="ImplicitWait" value="15" />
    
    <!--API-->
    <add key="ApiBaseUrl" value="https://api.clickup.com/api/v2" />
    <add key="Authorization" value="pk_3024168_0W7P3EB6KMGJWYJNE21RU6Z9WWFFFDSJ" />
    
  </appSettings>
</configuration>
