<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Web-->
    <add key="WebAppUrl" value="https://app.clickup.com/login" />

    <add key="UserName" value="hajoleb949@riv3r.net" />
    <add key="Password" value="1234Qwert" />
    
    <!--API-->
    <add key="ApiBaseUrl" value="https://api.clickup.com/api/v2" />
    <add key="Authorization" value="pk_3024168_0W7P3EB6KMGJWYJNE21RU6Z9WWFFFDSJ" />
    
  </appSettings>
</configuration>
